<form id="search-form">
  <label for="iata-code">Código IATA:</label>
  <input type="text" id="iata-code" name="iata_code">
  <button type="submit">Obtener datos</button>
</form>

<div id="weather-data"></div>